@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff(158, 146, 146);
}
:root {
  --main-logo-color: #68bb45;
  --secondary-logo-color: #4b417e;
  --link-color-hover: #0088a9;
}
html {
  font-family: "Roboto", sans-serif;
}

/* ========
Headings 
=============*/

/* ========
Header
=============*/
header {
  display: flex;
  justify-content: space-between;
  background-color: pink;
}
header img {
  width: 8rem;
  border-radius: 50%;
  margin: 1rem;
}
.logo-green {
  color: var(--main-logo-color);
}
/* Navbar */

nav ul {
  margin: 1rem;
}
nav li {
  display: inline-block;
  font-size: 125%;
  margin: 0 1rem;
}
nav a {
  text-decoration: none;
  color: var(--secondary-logo-color);
}
nav a:hover {
  color: var(--link-color-hover);
  border-bottom: 1px solid var(--main-logo-color);
}
.h1-container {
  text-align: center;
}
body h1 {
  color: var(--secondary-logo-color);
  margin-top: -3rem;
}
